*::before,
*::after,
* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    -moz-user-select: none;
    -webkit-user-select: none;
}

form {
    width: 300px;
    height: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input, 
textarea {
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #000;
    background-color: #f2f2f2;
}



button {
    margin: 10px 0 0 0;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: limegreen;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}

button:hover {
    background-color: #fff;
    border: 2px solid limegreen;
}

button:checked {
    background-color: #ffffffd0;
}

/* Custom Alert Styles */
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /* Start scaled down */
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease; /* Smooth scaling transition */
}

.custom-alert.hidden {
    transform: translate(-50%, -50%) scale(0); /* Scale down */
}

.custom-alert.show {
    transform: translate(-50%, -50%) scale(1); /* Scale up */
}

.custom-alert-content {
    text-align: center;
}

.custom-alert button#closeAlertBtn {
    background-color: #f5c6cb;
    border: none;
    color: #721c24;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.custom-alert button#closeAlertBtn:hover {
    background-color: #f1b0b7;
}